:root{
    --main-color: #1F2833;
    --secondary-color: #66FCF1;
    --third-color: #0B0C10;
    --fourth-color: #FF39A4;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: var(--main-color);
    color: white;
}
.container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.item{
    width: 10rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form>input{
    border: 0px;
    border-bottom: 2px solid var(--secondary-color);
    box-shadow: 2px 2px var(--third-color);
    outline: none;
}
form>input:focus{
    background-color: rgb(255, 255, 255, .3);
    color: white;
    border-bottom: var(--third-color) solid 2px;
    box-shadow: 0 0 50px 15px #48abe0;
}
label{
    text-align: center;
    font-weight: bold;
}

.start{
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: end;
}
.start-btn{
    flex: auto;
    height: 3rem;
    max-width: 8rem;
    border-radius: 12px;
    background-color: var(--third-color);
    border: 3px solid var(--secondary-color);
    color: white;
}
.start-btn:hover{
    box-shadow: 0 0 50px 15px var(--secondary-color);
}

.sample{
    flex: 1;
    height: 30rem;
    width: 70rem;
}
.upper{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board{
    flex: auto;
    height: 35rem;
    max-width: 45rem;
    padding: 1rem;
    border: var(--fourth-color) solid 2px;
    box-shadow: 0 0 20px 10px var(--fourth-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    background-color: var(--third-color)
}
.board div{
    background-color: var(--main-color);
    border: solid 2px var(--secondary-color);
    text-align: center;
}
.board div:hover{
    background-color: var(--secondary-color);
}
.bottom{
    display: flex;
    flex-direction: column;
}
.bottom div{
    flex: auto;
}
.top{
    display: flex;
}
.top div{
    text-align: center;
    color: var(--secondary-color);
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.bot{
    display: flex;
    justify-content: center;
    align-items: start;
}
.bot div{
    text-align: center;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}